.dialog-container {
  display: flex;
  flex-direction: column;
  background-color: #e7ebf0;
  border: 2px solid #075aff7c;
  border-radius: 10px;
}

.item {
  padding: 10px;
}

.middle-item {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}

.final-item {
  display: flex;
  flex-direction: column;
}
