.dialog-container {
  display: flex;
  flex-direction: column;
  background-color: #e7ebf0;
  border: 2px solid #075aff7c;
  border-radius: 10px;
}

.item {
  padding: 10px;
}

.middle-item {
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
}

.final-item {
  display: flex;
  flex-direction: column;
}

.conditions {
  margin: 20px 0;
}

.image-condition {
  width: 60px;
  height: 60px;
}

.condition-container {
  align-items: center;
  justify-content: center;
}

.image-label {
  font-size: 13px;
}
