.image-container {
  gap: 50px;
  margin: 30px 0;
}

.image-form {
  width: 220px;
  height: 220px;
  filter: drop-shadow(1px 1px 3px #003a70);
  border-radius: 30px;
  margin-bottom: 10px;
}

.image-container {
  flex-direction: row;
}

.image-title {
  font-size: 17px;
  font-weight: 500;
}

.image-subtitle {
  font-size: 15px;
}

.subtitle-macro {
  width: 100%;
  padding-left: 90px;
}

.radio-space-around {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
