.header-title {
  display: flex;
  gap: 0.5rem;
}

.subtitle-content {
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin-top: 35px;
}

.tooltip-content {
  text-decoration: underline;
}

.tooltip-content:hover {
  cursor: pointer;
  color: #ff07077c;
}

.tooltip-icon:hover {
  cursor: pointer;
}

.cilinder-image {
  padding: 30px;
  width: 280px;
  height: 280px;
  filter: drop-shadow(1px 1px 3px #003a70);
  border-radius: 30px;
  margin-bottom: 10px;
}
