.screen-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  background-color: #bddaf6;
}

.app-container {
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 40px;
  width: 600px;
  min-height: 400px;
  filter: drop-shadow(5px 5px 7px #000);
}

.form-container {
  padding: 1rem;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: normal;
}

.subtitle {
  font-size: 18px;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.actions {
  margin-top: 1rem;
  flex-direction: row;
  gap: 2rem;
}

footer {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0;
  border-top: 0.5px solid black;
}

footer img {
  height: 150px;
}

.disclaimer {
  background-color: rgb(175, 173, 173);
  margin-top: auto;
  width: 100%;
  font-weight: 500;
}

.disclaimer h3 {
  font-size: 15px;
  font-weight: 800;
}

.disclaimer p {
  font-size: 14px;
}
