.screen-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bddaf6;
}

.app-container {
  background-color: #fff;
  border-radius: 1rem;
  min-width: 600px;
  min-height: 300px;
  filter: drop-shadow(5px 5px 7px #000);
}

.form-container {
  padding: 1rem;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-title {
  text-align: center;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.actions {
  margin-top: 1rem;
  flex-direction: row;
  gap: 2rem;
}

footer {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0;
  height: 80px;
  border-top: 5px solid red;
  background-color: aqua;
}
